* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin tablet {
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 64em) {
        @content;
    }
}

.container {
    width: 80vw;
    height: 70vh;
    margin: 0 auto;
    @include tablet {
        width: 50vw;
        background: #EFE9F4;
        margin: 20% auto;
        padding: 3%;
    }
    @include desktop {
        width: 25vw;
        background: #EFE9F4;
        margin: 7% auto;
        padding: 3%;
    }
}

.toDoList {
    background: #EFE9F4;
    @include tablet {
        background: #696773;
    }
    @include desktop {
        background: #696773;
    }
    &-title {
        font: {
            family: helvetica, arial, sans-serif;
            size: 18px;
        }
        text-align: center;
        color: grey;
    }
    &-input {
        margin-top: 20%;
        border: none;
        width: 80%;
        background: #EFE9F4;
        border-bottom: 2px solid black;
        outline: none;
    }
    &-btnContainer {
        display: flex;
        justify-content: flex-end;
    }
    &-btn {
        margin-left: 3%;
        margin-top: 10%;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 1px 3px 3px rgba($color: #000000, $alpha: 0.2);
        outline: none;
        text-align: center;
    }
    &-containerTitle {
        @extend .toDoList-title;
        font-size: 16px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    &-listItem {
        list-style: none;
        font: {
            size: 14px;
            family: helvetica, arial, sans-serif;
        }
        color: #000;
        margin-bottom: 2%;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.7)
    }
    &-check {
        margin-right: 10%;
        outline: none;
        &:checked+label {
            text-decoration: line-through;
        }
    }
}